  # Challenge

  ## Identifying Outliers using Standard Deviation

In [35]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import psycopg2
%matplotlib inline

In [36]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [37]:
# code a function to identify outliers based on standard deviation
# loading data for three random card holders from the database
query = """

SELECT transaction.date, credit_card.id_card_holder, card_holder.name, credit_card.card, transaction.amount, merchant.merchant_name, merchant_category.merchant_category_name

FROM card_holder
LEFT JOIN credit_card
ON credit_card.id_card_holder = card_holder.id

LEFT JOIN transaction
ON transaction.card = credit_card.card

LEFT JOIN merchant 
ON merchant.id_merchant = transaction.id_merchant

LEFT JOIN merchant_category
ON merchant_category.id_merchant_category = merchant.id_merchant_category


"""
fraud_detection_df = pd.read_sql_query(query, engine)

fraud_detection_df.set_index(["id_card_holder"],inplace=True)

fraud_detection_df.head()

random_card_holders = fraud_detection_df.sample(n=3,replace=True)
random_card_holders

,date,name,card,amount,merchant_name,merchant_category_name
id_card_holder,,,,,,
1,2018-09-08 16:32:23,Robert Johnson,4761049645711555811,4.93,Hess-Fischer,food truck
25,2018-04-08 18:14:22,Nancy Contreras,4319653513507,10.06,Johnson-Fuller,pub
20,2018-07-15 04:50:22,Kevin Spencer,3535651398328201,10.13,Garcia PLC,food truck

In [38]:
# find anomalous transactions for 3 random card holders
rand_card_holders = fraud_detection_df.loc[[1,11,14]]
rand_card_holders.head()

,date,name,card,amount,merchant_name,merchant_category_name
id_card_holder,,,,,,
1,2018-01-02 16:14:55,Robert Johnson,3517111172421930,3.12,Robertson-Smith,pub
1,2018-01-10 13:41:23,Robert Johnson,3517111172421930,11.50,"Davis, Lowe and Baxter",food truck
1,2018-01-11 19:36:21,Robert Johnson,4761049645711555811,1.72,"Bond, Lewis and Rangel",restaurant
1,2018-01-14 13:30:29,Robert Johnson,3517111172421930,10.94,Santos-Fitzgerald,pub
1,2018-01-15 10:27:56,Robert Johnson,4761049645711555811,15.51,Russell-Thomas,restaurant

  ## Identifying Outliers Using Interquartile Range

In [39]:
# code a function to identify outliers based on interquartile range

first_card_holder = rand_card_holders.loc[1]
second_card_holder = rand_card_holders.loc[11]
third_card_holder = rand_card_holders.loc[14]

q3_first,q1_first = np.percentile(first_card_holder["amount"],[75,25])

q3_second, q1_second = np.percentile(second_card_holder["amount"],[75,25])

q3_third, q1_third = np.percentile(third_card_holder["amount"],[75,25])

iqr_first_card_holder = q3_first - q1_first
iqr_second_card_holder = q3_second - q1_second
iqr_third_card_holder = q3_third - q1_third

print(iqr_first_card_holder)
print(iqr_second_card_holder)
print(iqr_third_card_holder)

10.459999999999999
8.725
12.87

In [49]:
# find anomalous transactions for 3 random card holders

outlier_first = [] 

for amount in iqr_first_card_holder: 
    
    if int.amount > ((iqr_first_card_holder * 1.5)+ q3_first): 
         outlier_first.append(x)

print(' outlier in the dataset is', outlier)

TypeError: 'numpy.float64' object is not iterable

date                      datetime64[ns]
name                              object
card                              object
amount                           float64
merchant_name                     object
merchant_category_name            object
dtype: object