  # Challenge

  ## Identifying Outliers using Standard Deviation

In [4]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import psycopg2
%matplotlib inline

In [5]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [6]:
# code a function to identify outliers based on standard deviation
# loading data for three random card holders from the database
query = """

SELECT transaction.date, credit_card.id_card_holder, card_holder.name, credit_card.card, transaction.amount, merchant.merchant_name, merchant_category.merchant_category_name

FROM card_holder
LEFT JOIN credit_card
ON credit_card.id_card_holder = card_holder.id

LEFT JOIN transaction
ON transaction.card = credit_card.card

LEFT JOIN merchant 
ON merchant.id_merchant = transaction.id_merchant

LEFT JOIN merchant_category
ON merchant_category.id_merchant_category = merchant.id_merchant_category


"""
fraud_detection_df = pd.read_sql_query(query, engine)

fraud_detection_df.set_index(["id_card_holder"],inplace=True)

fraud_detection_df.head()

random_card_holders = fraud_detection_df.sample(n=3,replace=True)
random_card_holders

,date,name,card,amount,merchant_name,merchant_category_name
id_card_holder,,,,,,
23,2018-05-01 22:47:13,Mark Lewis,4741042733274,5.71,Ferguson Ltd,coffee shop
13,2018-03-02 11:42:48,John Martin,5135837688671496,1.37,Reed Group,food truck
24,2018-10-28 05:54:45,Stephanie Dalton,30142966699187,10.99,Hamilton-Mcfarland,restaurant

In [10]:
# find anomalous transactions for 3 random card holders
rand_card_holders = fraud_detection_df.loc[[13,23,24]]
rand_card_holders.head()

,date,name,card,amount,merchant_name,merchant_category_name
id_card_holder,,,,,,
13,2018-01-01 21:35:10,John Martin,3561954487988605,6.22,Dominguez PLC,food truck
13,2018-01-01 21:43:12,John Martin,5135837688671496,3.83,Patton-Rivera,bar
13,2018-01-04 00:29:04,John Martin,3561954487988605,12.45,Young-Navarro,food truck
13,2018-01-04 13:41:56,John Martin,5135837688671496,12.70,Perry and Sons,bar
13,2018-01-05 16:58:08,John Martin,5135837688671496,4.57,Turner Ltd,pub

  ## Identifying Outliers Using Interquartile Range

In [12]:
# code a function to identify outliers based on interquartile range

first_card_holder = rand_card_holders.loc[13]
second_card_holder = rand_card_holders.loc[23]
third_card_holder = rand_card_holders.loc[24]

q3_first,q1_first = np.percentile(first_card_holder["amount"],[75,25])

q3_second, q1_second = np.percentile(second_card_holder["amount"],[75,25])

q3_third, q1_third = np.percentile(third_card_holder["amount"],[75,25])

iqr_first_card_holder = q3_first - q1_first
iqr_second_card_holder = q3_second - q1_second
iqr_third_card_holder = q3_third - q1_third

print(iqr_first_card_holder)
print(iqr_second_card_holder)
print(iqr_third_card_holder)

10.8
9.170000000000002
12.732499999999998

In [14]:
# find anomalous transactions for 3 random card holders

outlier_first = []
outlier_second = []
outlier_third = []

for amount in first_card_holder["amount"]: 
    
    if amount > ((iqr_first_card_holder * 1.5) + q3_first):

         outlier_first.append(amount)

print('Cardholder 13 outlier in the dataset is', amount) 

for amount in second_card_holder["amount"]: 
    
    if amount > ((iqr_second_card_holder * 1.5) + q3_second):

         outlier_second.append(amount)

print('Cardholder 23 outlier in the dataset is', amount) 

for amount in third_card_holder["amount"]: 
    
    if amount > ((iqr_third_card_holder * 1.5) + q3_third):

         outlier_third.append(amount)
         
print('Cardholder 24 outlier in the dataset is', amount)

Cardholder 13 outlier in the dataset is 18.48
Cardholder 23 outlier in the dataset is 11.87
Cardholder 24 outlier in the dataset is 18.31